@import url(https://thegeorgeadamson.github.io/sakura-theme/server-base/main-base.css);
@import url(https://gibbu.github.io/BetterDiscord-Themes/HorizontalServerlist/base.css);
:root {

    /*
        Horizontal Server Specific Variables
    */


	/* server icon size - default: 55 */
    --HSL-size: 50px;

    /* sets the sidebar width - should 'automagically' scale most things for u */
    --side-bar-width: 260px;

    /* folder spacing from edge */
    --folder-left: 4px;   /* calc(var(--HSL-size) + 21px); */
}











/*
    Horizontal Bas Specific Code Blocks
*/

/* removing weird list item + weird top + 10px = left 10px  */
.wrapper-1Rf91z { padding-left: 10px; }

/* full correction of borders */
div.da-container div.da-sidebar header.da-header { border-bottom: var(--borders); }
div.da-container div.da-sidebar > nav { border-radius: 0 var(--sidebar-radius) 0 0 !important; }
div.da-bannerImage { border-radius: 0 var(--sidebar-radius) 0 0; }
div.da-container div.da-sidebar > nav,
div.da-container div.da-sidebar > section {
    border-top: var(--borders);
    border-left: var(--borders);
    border-right: var(--borders);
} div.da-chat div.da-membersWrap {
    border-top: var(--borders);
    border-left: var(--borders);
    border-radius: var(--sidebar-radius) 0 0 0 !important;
}

/* he forgot the some border lines, so here they are (if u want to change their colour edit --border-lines-color as well)*/
div.da-base > div.da-content > div.da-sidebar > div {
    border-right: var(--borders);
}

/* title bar (also includes the windows minus, full screen & exit) */
.typeWindows-1za-n7 {
    background: var(--main-transparency);
    height: 3px;
}

/* idk what this does */
.wrapper-1Rf91z .da-scrollerWrap { left: 10px !important;}

/* makes home button proper width */
nav.da-wrapper.guilds-1SWlCJ div.tutorialContainer-1v44GL {
    width: fit-content;
}

/* setting folder backgrounds */
div.da-wrapper > span.da-expandedFolderBackground {
    background-color: var(--opened-folder-colour);
    border-radius: 15px 24px 24px 15px;
    left: 0 !important;
    width: 95% !important;
}

/* changing time display */
h2.da-header:hover span.da-timestamp,
img:hover + h2.da-header span.da-timestamp { display: inline-block; }
span.da-timestamp {
    height: 1rem;
    display: var(--time-display);
}

/* bot tag dimensions and stuff */
span.da-botTag {
    background: var(--bot-tag-colour);
    color: var(--bot-text);
    margin-left: 3px;
    height: 10px;
    top: -1px;
}

/* notification bar */
.noticeDefault-362Ko2,
.notice-3I4-y_,
.noticeInfo-3_iTE1 {
	background: var(--notification-bar) !important;
	margin-right: 95px;
	margin-top:-5px;
	height: 33px;
}

/* server music icon */
/* icon reposition */
.upperBadge-2XnnGB {
	position: absolute;
	width: 24px;
	height: 24px;
	top: -2px;
	left: 29px;
}

/* Offline Message Customizations *
/* div.da-app div.da-container.da-fixClipping > div.da-problems > div.da-problemsText { font-size: 0; }  */
.da-fixClipping {
    left: var(--side-bar-width);
}

/* spacing the custom CSS container so i can still use nav buttons */
#bd-customcss-detach-container {
    padding-top: 25px;
    background: var(--main-transparency);
}

/* correcting weird folder height */
div.da-wrapper > span.da-expandedFolderBackground {
    background-color: var(--opened-folder-colour);
    border-radius: 12px !important;
    left: calc(var(--HSL-size)/2) !important;
    height: 95%;
    width: 70% !important;
}
